@model Wooden.Models.Juguetes

@{
    ViewData["Title"] = "Eliminar";
}
<div class="col-lg-10 edit-form">
    
    <h3>Eliminar</h3>

    <h5>¿Está seguro que quiere eliminar el juguete?</h5>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </dl>

        <form asp-action="Eliminar">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn rounded text-dark btn-primary border-0 m-md-2 px-md-4" />
            <a asp-action="Index" class="btn rounded text-dark btn-primary border-0 m-md-2 px-md-4">Volver a Juguetes</a>
        </form>
    </div>
</div>