@model Wooden.Models.UsuarioAdmin

<!-- Banner -->
<section class="bg-light">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <div class="contact-header col-lg-4">
                <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line">Ingreso sólo para ADMINISTRADORES de página</h1>
            </div>
            <div class="contact-img col-lg-5 align-items-end col-md-4">
                <form class="contact-form row" asp-action="Login">
                    <div class="col-lg-12 mb-4">
                        <div class="form-floating">
                            <input asp-for="Usuario" type="text" class="form-control form-control-lg light-300" id="floatingusuario" placeholder="Usuario">
                            <label for="floatingusuario light-300">Usuario</label>
                            <span asp-validation-for="Usuario" class="text-danger"></span>
                        </div>
                    </div><!-- Fin Input Usuario -->
                    <div class="col-lg-12 mb-4">
                        <div class="form-floating">
                            <input asp-for="Password" type="password" class="form-control form-control-lg light-300" id="floatingpassword" placeholder="Contraseña">
                            <label for="floatingpassword light-300">Contraseña</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div><!-- Fin Input Contraseña -->
                    <div class="col-md-12 col-12 m-auto text-center">
                        <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Fin Banner -->