    <!-- Banner -->
    <section class="bg-light">
        <br>
        <div class="container py-4">
            <div class="row align-items-center justify-content-between">
                <div class="contact-header col-lg-5">
                    <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line">Sobre Nosotros</h1>
                    <h3 class="h4 regular-400">
                        Wooden es un emprendimiento familiar joven que busca ayudar el desarrollo de diferentes habilidades tanto motrices como cognitivas a partir del juego. Además, ofrece juegos de los que pueden disfrutar grandes y chicos.
                    </h3>
                </div>
                <div class="contact-img col-lg-5 align-items-end col-md-4">
                    <img src="~/img/nosotros.svg">
                </div>
            </div>
        </div>
        <br><br><br>
    </section>
    <!-- Fin Banner -->


    <!-- Nuestro Equipo -->
    <section class="container py-5">
        <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

            <div class="col-lg-3">
                <h2 class="h2 py-5 typo-space-line">Nuestro Equipo</h2>
                <p class="text-muted light-300">
                    Hace 4 meses incorporamos a nuestro talento más joven. Con solo 4 meses de vida, ya está encargada del control general de calidad.
                </p>
            </div>

            <div class="col-lg-9 row">
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="~/img/equipo-01.png" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Gustavo Cardozo</li>
                        <li>Director/Fabricante</li>
                    </ul>
                </div>
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="~/img/equipo-02.png" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Natalia Brito</li>
                        <li>Directora/Arte</li>
                    </ul>
                </div>
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="~/img/equipo-03.png" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>Guillermina Cardozo</li>
                        <li>Control de Calidad</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!-- Fin Nuestro Equipo -->

    <!-- Clientes -->
    <section class="bg-secondary py-3">
        <div class="container py-5">
            <h2 class="h2 text-white text-center py-5">Nuestros Clientes</h2>
            <div class="row text-center">
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a href="#"><i class='display-1 bx text-white bx-home-heart bx-lg'></i></a>
                        <h5>Particulares</h5>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a href="#"><i class='display-1 bx text-white bx-building-house bx-lg'></i></a>
                        <h5>Jardines de Infantes</h5>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a href="#"><i class='display-1 text-white bx bx-abacus bx-lg'></i></a>
                        <h5>Jugueterias</h5>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a href="#"><i class='display-1 text-white bx bx-building bx-lg'></i></a>
                        <h5>Centros de Estimulación</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Clientes -->

    <!-- Trabajo Creativo -->
    <section class="bg-white py-5">
        <div class="container my-4">

            <h1 class="creative-heading h2 pb-3">Trabajo Creativo</h1>

            <div class="creative-content row py-3">
                <div class="col-md-5">
                    <p class="text-muted col-lg-8 light-300">
                        Nuestros juguetes no se hacen en serie, nos tomamos el tiempo de trabajar uno por uno, para así llevarle a cada uno de Uds. el mejor producto posible.
                        Todos nuestros juguetes están hechos con AMOR, totalmente a mano y tratados con elementos NO TÓXICOS. 
                    </p>
                </div>
                <div class="creative-progress col-md-7">

                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Fabricación Artesanal</h4>
                        </div>
                        <div class="col-6 text-right">100%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Diseño Propio</h4>
                        </div>
                        <div class="col-6 text-right">100%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>


                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">Presentación</h4>
                        </div>
                        <div class="col-6 text-right">100%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Fin Trabajo Creativo -->

    <!-- Vision -->
    <section class="banner-bg bg-white py-5">
        <div class="container my-4">
            <div class="row text-center">

                <div class="objective col-lg-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-primary shadow-lg">
                        <i class="display-4 bx bxs-bulb text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Visión</h2>
                    <p class="light-300">
                        Diversión - Aprendizaje - Calidad.
                    </p>
                </div>

                <div class="objective col-lg-4 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-primary shadow-lg">
                        <i class='display-4 bx bx-revision text-light'></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Misión</h2>
                    <p class="light-300">
                        Llevar alegría y un juguete seguro a sus hogares.
                    </p>
                </div>

                <div class="objective col-lg-4 mt-sm-0 mt-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-primary shadow-lg">
                        <i class="display-4 bx bxs-select-multiple text-light"></i>
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">Nuestra Pasión</h2>
                    <p class="light-300">
                        Trabajar en lo que nos gusta, compartiendo hermosos momentos en familia. 
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- Fin Vision -->