@model List<Wooden.Models.Juguetes>

<!-- Empieza Nuestro Trabajo -->
<section class="container py-5">
    <div class="row justify-content-center my-5">
        <div class="filter-btns shadow-md rounded-pill text-center col-auto">
            <a class="filter-btn btn rounded text-dark btn-outline-primary border-0 m-md-2 px-md-4 active" data-filter=".project" href="#">Todos</a>
            <a class="filter-btn btn rounded text-dark btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".didacticos" href="#">Didácticos</a>
            <a class="filter-btn btn rounded text-dark btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".mesa" href="#">De Mesa</a>
            <a class="filter-btn btn rounded text-dark btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".vehiculos" href="#">Vehículos</a>
            <a class="filter-btn btn rounded text-dark btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".ingenio" href="#">Ingenio</a>
        </div>
    </div>
    <div class="row projects gx-lg-5">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-lg-4 text-decoration-none project">
                <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                    <img class="card-img-top" src="@item.Foto" alt="...">
                    <div class="card-body">
                        <h5 class="card-title semi-bold-600 text-dark">@item.Nombre</h5>
                        <p class="card-text light-300 text-dark">
                            @item.Detalle
                        </p>
                        <p>
                           $@item.Precio
                        </p>
                        <span class="text-decoration-none text-primary light-300">
                            Agregar al carrito <i class='bx bxs-cart ms-1'></i>
                        </span>
                    </div>
                </div>
            </div>
        }
        <a href="#" class="col-sm-6 col-lg-4 text-decoration-none project didacticos">
            <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                <img class="card-img-top" src="~/img/juguete-01.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Encastre Geométrico</h5>
                    <p class="card-text light-300 text-dark">
                        Ayuda a conocer colores, formas y cantidades. <br>
                        Promueve el juego imaginativo. <br>
                        Desarrolla: <br>
                        La motricidad fina y gruesa. <br>
                        La cognición. <br>
                        La paciencia. <br>
                        Cuenta con 16 figuras (4 cuadrados, 4 triángulos, 4 rectángulos, 4 círculos). <br>
                        Medidas aproximadas: 16x16x6cm. <br>
                        Edad recomendada: +24 meses.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="#" class="col-sm-6 col-lg-4 text-decoration-none project didacticos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-02.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Bloques Arcoíris x32</h5>
                    <p class="card-text light-300 text-dark">
                        El juego con bloques trabaja las destrezas motoras gruesas y finas. <br>
                        Fomenta el desarrollo cognitivo y la coordinación de los/as niños/as. <br>
                        Incentiva a usar su imaginación para construir todo aquello que desean a partir de formas geométricas básicas. <br>
                        16 bloques 5x5cm. <br>
                        2 bloques 10x5cm. <br>
                        8 tablas 10x5cm. <br>
                        6 tablas 20x5cm. <br>
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="#" class="col-sm-6 col-lg-4 text-decoration-none project didacticos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-03.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Rompecabezas Elefante</h5>
                    <p class="card-text light-300 text-dark">
                        Rompecabezas de 3 piezas para los pequeños de la casa. <br>
                        Favorecen a: <br>
                        La concentración. <br>
                        La memoria. <br>
                        La motricidad fina. <br>
                        Potencian las habilidades espaciales y matemáticas. <br>
                        Ayudan a construir su lógica. <br>
                        Medidas aproximadas: 16x16cm. <br>
                        Edad recomendada: +12 meses.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="#" class="col-sm-6 col-lg-4 text-decoration-none project mesa">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-04.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Ludo 3D</h5>
                    <p class="card-text light-300 text-dark">
                        Es un juego de azar para jugar de 2 a 4 jugadores. <br>
                        Desarrolla la motricidad fina y gruesa. <br>
                        Ayuda a desarrollar la inteligencia cognitiva. <br>
                        Favorece el desarrollo social y emocional. <br>
                        Medidas aproximadas: 32x32 cm. <br>
                        Edad recomendada: +6 años. <br><br><br><br>
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project didacticos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-05.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Torre de Encastre</h5>
                    <p class="card-text light-300 text-dark">
                        Desarrolla: <br>
                        La motricidad fina y gruesa. <br>
                        La cognición. <br>
                        La paciencia. <br>
                        Contiene 8 piezas encastrables de colores. <br>
                        Medidas aproximadas: 12x12x16cm. <br>
                        Edad recomendada: +12 meses. <br><br><br><br>
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project vehiculos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-06.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Camionetita Verde</h5>
                    <p class="card-text light-300 text-dark">
                        Estimula el desarrollo de: <br>
                        Las habilidades psicomotrices. <br>
                        La capacidad de razonar. <br>
                        Las habilidades para socializar. <br>
                        Los movimientos de las manos y la flexibilidad de las muñecas. <br>
                        La habilidad de imitar. <br>
                        Favorece el aprendizaje de los conceptos de espacio, velocidad y profundidad. <br>
                        Medidas aproximadas: 11x6 cm. <br>
                        Edad recomendada: +12 meses.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project ingenio">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-07.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Cubo 4x4</h5>
                    <p class="card-text light-300 text-dark">
                        Desarrolla la memoria. <br>
                        Mejora la capacidad viso-espacial. <br>
                        Ejercita la atención y la concentración. <br>
                        Promueve la creatividad. <br>
                        Medidas aproximadas: 5x5cm. <br>
                        Edad recomendada: +6 años. <br><br><br><br><br><br>
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project mesa">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-08.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Tejo de Mesa</h5>
                    <p class="card-text light-300 text-dark">
                        Se rápido y consigue pasar tus discos al campo contrario, antes que tu contrincante. <br>
                        Ayuda a desarrollar la inteligencia cognitiva. <br>
                        Favorece el desarrollo social y emocional. <br>
                        Medidas aproximadas: 60x35cm. <br>
                        Edad recomendada: +6 años. <br><br><br><br>
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project vehiculos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-09.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Camionetita Amarilla</h5>
                    <p class="card-text light-300 text-dark">
                        Estimula el desarrollo de: <br>
                        Las habilidades psicomotrices. <br>
                        La capacidad de razonar. <br>
                        Las habilidades para socializar. <br>
                        Los movimientos de las manos y la flexibilidad de las muñecas. <br>
                        La habilidad de imitar. <br>
                        Favorece el aprendizaje de los conceptos de espacio, velocidad y profundidad. <br>
                        Medidas aproximadas: 11x6 cm. <br>
                        Edad recomendada: +12 meses.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project mesa">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-10.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Senku</h5>
                    <p class="card-text light-300 text-dark">
                        Ayuda a los niños a usar la lógica y a desarrollar estrategia a una edad temprana. <br>
                        Ayuda a desarrollar la coordinación, habilidades motoras finas y habilidades visuales. <br>
                        Medidas aproximadas: 16x16cm. <br>
                        Edad recomendada: +6 años.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project didacticos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-11.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Tangram</h5>
                    <p class="card-text light-300 text-dark">
                        Mejora la atención infantil. <br>
                        Desarrolla la capacidad espacial. <br>
                        Estimula el pensamiento analítico. <br>
                        Desarrolla la cordinación ojo-mano. <br>
                        Desarrolla la creatividad y la imaginación. <br>
                        Ejercita la memoria. <br>
                        Medidas aproximadas: 20x20x2cm. <br>
                        Edad recomendada: +3 años.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project mesa">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-12.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">TA - TE - TÍ</h5>
                    <p class="card-text light-300 text-dark">
                        Ayuda a los niños a usar la lógica y a desarrollar estrategia a una edad temprana. <br>
                        Ayuda a desarrollar la coordinación, habilidades motoras finas y habilidades visuales. <br>
                        Medidas aproximadas: 18x18cm. <br>
                        Edad recomendada: +4 años. 
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project didacticos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-13.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Rompecabezas Avioncito</h5>
                    <p class="card-text light-300 text-dark">
                        Rompecabezas de 3 piezas para los pequeños de la casa. <br>
                        Favorecen a: <br>
                        La concentración. <br>
                        La memoria. <br>
                        La motricidad fina. <br>
                        Potencian las habilidades espaciales y matemáticas. <br>
                        Ayudan a construir su lógica. <br>
                        Medidas aproximadas: 16x16cm. <br>
                        Edad recomendada: +12 meses.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project didacticos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-14.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Bloques Arcoíris x18</h5>
                    <p class="card-text light-300 text-dark">
                        El juego con bloques trabaja las destrezas motoras gruesas y finas. <br>
                        Fomenta el desarrollo cognitivo y la coordinación de los/as niños/as. <br>
                        Incentiva a usar su imaginación para construir todo aquello que desean a partir de formas geométricas básicas. <br>
                        18 bloques 3x9cm. <br><br><br><br>
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
        <a href="" class="col-sm-6 col-lg-4 text-decoration-none project vehiculos">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="~/img/juguete-15.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title semi-bold-600 text-dark">Camionetita Azul</h5>
                    <p class="card-text light-300 text-dark">
                        Estimula el desarrollo de: <br>
                        Las habilidades psicomotrices. <br>
                        La capacidad de razonar. <br>
                        Las habilidades para socializar. <br>
                        Los movimientos de las manos y la flexibilidad de las muñecas. <br>
                        La habilidad de imitar. <br>
                        Favorece el aprendizaje de los conceptos de espacio, velocidad y profundidad. <br>
                        Medidas aproximadas: 11x6 cm. <br>
                        Edad recomendada: +12 meses.
                    </p>
                    <span class="text-decoration-none text-primary light-300">
                        Comprar <i class='bx bxs-cart ms-1'></i>
                    </span>
                </div>
            </div>
        </a>
    </div>
</section>
<!-- Fin Nuestro Trabajo -->